body {
    font-family: 'Times New Roman';
    font-size:1.2rem;
    background-color: #000f;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* Sadece yatay kaydırma çubuğunu gizle */
}

.main-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #6c63ff;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

    .input-group label {
        display: block;
        margin-bottom: 5px;
        color: #666;
    }

    .input-group input, .input-group textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-family: 'Times New Roman';
    }

    .input-group textarea {
        resize: vertical;
        height: 100px;
    }

.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #000f;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Times New Roman';
}

    .btn-submit:hover {
        background-color: white;
        color:black;
        border:1px solid black;
    }

/* CV Template Styles */

#main_container {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000f;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header_logotype_container h1 {
    font-size: 2.5em;
    color: #333;
    font-family:'Times New Roman';
    text-align:center;
    
}

    
.profile_frame {
    text-align: center;
    margin-bottom: 20px;
}

.hello_content, .contact_details_content, .get_social_content, #content_container {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-weight:lighter;
    font-size:20px;
}

    .contact_details_content p {
    }


.block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #000f;
}

    .block h1, .block h2 {
        color: #000f;
    }

    .block p, .block ul {
        color: #000f;
    }

.horizontal_line {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

    .horizontal_line .line_left, .horizontal_line .line_right {
        flex: 1;
        height: 2px;
        background-color: #000f;
    }

.clear {
    clear: both;
}

#footer {
    text-align: center;
    margin-top: 20px;
    color: #000f;
}
}
